.vincent-fitness-padding-div {
    padding-bottom: 0.5em;
}

.vincent-fitness-custom-heading {
    text-decoration: underline;
    font-weight: bold;
}

.vincent-fitness-set {
    overflow-x: auto;
    background-color: var(--background-primary);
    margin-bottom: 0.3em;
    padding: 0.5em;
    border-radius: var(--button-radius);
    display: flex;
    align-items: center;
    gap: 0.9ch;
}

.vincent-fitness-set-number-input {
    width: 7ch;
}

.vincent-fitness-btn-box {
    display: flex;
    align-items: center;
    gap: 1ch;
}

.vincent-fitness-time-header {
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--interactive-hover); */
}

.vincent-fitness-time-header-inner {
    display: flex;
    align-items: center;
    gap: 1ch;
}